 <div class="panel panel-default">
    <div class="panel-heading">
      <a class="btn btn-success" href="{{ baseUrl() }}/turma/new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>

    <div class="panel-body">
      <div class="row header-table">
        <div class="col-xs-2 col-md-1">ID</div>
        <div class="col-xs-4 col-md-6">Descrição</div>
        <div class="col-xs-2 col-md-2">Semestre</deleteiv>
        <div class="col-xs-4 col-md-3">Ações</div>
      </div>
      <div class="row content-table">
        {% if services is not empty %}
          {% for service in services %}
            <div class="line-table">
              <div class="col-xs-2 col-md-1">{{ turma.id }}</div>
              <div class="col-xs-4 col-md-6">{{ turma.txDescricao }}</div>
              <div class="col-xs-2 col-md-2">{{ turma.txSemestre }}</div>
              <div class="col-xs-4 col-md-3">
                <a href="{{ baseUrl() }}/turma/edit/{{ turma.id }}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                <button data-url="{{ baseUrl() }}/turma/delete/{{ turma.id }}" onclick="confirmDelete(this)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </div>
            </div>
          {% endfor %}
        {% else %}
            <div class="line-table text-center">
              <div class="col-xs-12 col-md-12">Não foram encontrados registros</div>
            </div>
        {% endif %}
      </div>
    </div>

  </div>