{% extends "panel.html" %}

{% block panel %}

<form method="POST" action="{{ baseUrl }}?op=admin/campus/novo/" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="tx_nome" placeholder="Faculdade">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-default">Salvar</button>
    </div>
  </div>
</form>

{% endblock %}